*{
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif; /* General font for the body */
    background-color: whitesmoke;
}

.hero-section{
    background-image: url("images/bg.svg");
    background-size: cover;
    height: 745px;
    width: 100%;
    padding-top: 20px;
    border-radius: 10px;
}

/* NavBar */
.navbar{
    width: 100%;
    height: 40px;
    margin-top: 20px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
}

.nav-logo{
    height: 40px;
    width: 130px;
    background-image: url("images/Logo.png");
    background-size: cover;
    margin-left: 40px;
}

.navbar li{
    display: inline;
    margin-right: 30px;
}

.navbar li:hover{
    font-weight: 700;
}

.navbar button:hover{
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.navbar button{
    margin-right: 100px;
    height: 50px;
    width: 144px;
    background-color: #1c8cef;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 5px;
    color: white;
    border: none;
}

/* Hero Content */
.hero-content{
width: 90%;
height: 600px;
display: flex;
align-items: center;
justify-content: center;
margin-left: 100px;
margin-right: 100px;
font-weight: 700;
}

.hero-text{
width: 50%;
height: 400px;
color: white;
margin-right: 10px;
}

.hero-text h1{
    font-size: 4.7rem;
}

.hero-text p{
    font-size: .9rem;
    margin-top: 20px;
    font-weight: 500;
}

.hero-text button{
    height: 50px;
    width: 220px;
    background-color: #1c8cef;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border:none;
    color:white;
    margin-top: 20px;
    margin-left: 5px;
}


.hero-img{
width: 50%;
height: 550px;
background-image: url("images/30495\ [Converted]-01\(1\).svg");
background-size: cover;
margin-top: 100px;
margin-right: 50px;
}

/* Main-mid section */
.main {
    height: 700px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    
}

.main-img {
    flex: 1.5;
    background-size: cover;
    margin-left: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-img img{
    height: 90%;
    width: 90%;
}

.main-text {
    flex: 1; /* Take 1/3 of the available space */
    padding-top: 140px;
    padding-right: 180px;
    padding-left: 60px;
}

.main-text ul{
    list-style: none;
}

.main-text h1{
    margin-bottom: 30px;
    font-size: .085rem;
}

.main-text h2{
    padding-top: 30px;
    padding-bottom: 5px;
}

/* Feature section */
.feature-section{
    display: flex;
    flex-direction: column;
}

.feature-heading{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.7rem;
    text-align: center;
    line-height: 280%;
}

.feature-list{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 3rem;
    padding-top: 4rem;
    column-gap: 0.5rem;
}

.feature-box{
    display: flex;
    flex-direction: column;
    width: 14rem;
    height: 15em;
    box-shadow: 2px 0px 5px 0px rgba(0, 0, 0, .1);
    border-radius: 20px;
    
}

.feature-box:hover{
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.feature-img{
    padding: 0.7rem;
    border-radius: 100px;
}

.feature-icon{
    display: flex;
    justify-content: center;
    padding-top: 1.5rem;
}

.feature-text{
    display: flex;
    flex-direction: column;
    text-align: center;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    margin-top: 2rem;
    padding-top: 1rem;
    font-size: 0.8rem;
    font-weight: 100;
    padding-left: 0.3rem;
    padding-right: 0.3rem;
    padding-bottom: 4rem;
}

.feature-text:hover{
    background-color: #542795;
    color: #f4f4f4;
}
.feature-text h4{
    font-size: 1rem;
    font-weight: 700;
    padding-bottom: 0.5rem;
}

.feature-list img{
    width: 32px;
    height: 32px;
}

